<%- include('./partials/head.ejs')%>
    <div class="container">
        <div class="row">
            <div class="col d-flex">
                <h1>Library</h1>
            </div> 
            <% if (isLogged== true){ %>
              <div class="col d-flex justify-content-end mt-2">
                <div>
                  <button type="button" class="btn btn-dark bg-gradient" data-bs-toggle="modal" data-bs-target="#addBookModal">
                  + Add a book
                  </button>
                </div>
                <div>
                  <form id="logoutForm" action="/library/logout/" method="GET">
                    <button type="submit" class="btn btn-dark bg-gradient">
                      Logout
                    </button>
                  </form>
                </div>
              </div>
            <% } else { %>
              <div class="col d-flex justify-content-end mt-2">
                <a type="button" class="btn btn-dark bg-gradient" href="/login">
                Login
                </a>
                <a type="button" class="btn btn-dark bg-gradient" href="/register">
                  Register
                  </a>
              </div>
            <% } %>
        </div>
        <%- include('./partials/search.ejs')%>
                  <div id="content" class="d-flex flex-wrap justify-content-evenly gap-2">
                    <% if (books.length > 0){ %>
                        <%for(var items of books){%>
                                    <div class="card card-width p-1 text-center">
                                        <img class="card-img-top img-fluid" src="<%= items.linkBookImage%>" alt="Image of a book">
                                        <div class="card-body">
                                        <h5 class="card-title"><%= items.title%></h5>
                                        <p class="book-author"><%= items.author%></p>
                                            <ul class="book-info p-0" type="none">
                                                <li>Book ID: <%= items.id%></li>
                                                <li>Completed: <%= items.completed%></li>
                                            </ul>
                                        </div>
                                        <% if (isLogged== true){ %>
                                        <a href=<%="/library/edit/"+items.id%> class="btn btn-secondary bg-gradient"><i class="bi bi-journal"></i> View / Edit <i class="bi bi-pencil-square"></i></a>
                                        <!-- Button delete trigger modal -->
                                        <button type="button" class="btn btn-danger bg-gradient" data-bs-toggle="modal" data-bs-target="#deleteBookModal<%= items.id%>">
                                            <i class="bi bi-trash3"></i> Delete
                                        </button>
                                        <%} else {%>
                                        <a href=<%="/library/view/" +items.id%> class="btn btn-secondary bg-gradient"><i class="bi bi-journal"></i> View Details</a>
                                        <%}%>
                                    </div>
                                        
                                        <% if (isLogged== true){ %>
                                        <!-- modal delete -->
                                        <div class="modal fade" id="deleteBookModal<%= items.id%>" tabindex="-1" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5 text-black" id="deleteBookModalLabel">Confirm Delete</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-black">
                                                Are you sure?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <form id="bookFormDelete" action="/library/del/<%= items.id %>" method="POST">
                                                    <button class="btn btn-danger bg-gradient"><i class="bi bi-trash3"></i> Delete</button>
                                                </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <%}%>                                
                        <%}%>
                    <% } else{ %>
                        <h1 class="text-center">Current Library is Empty</h1>
                    <%} %>   
                  </div>

                  <!-- pagination -->
                  <div class="d-flex justify-content-center mt-2">
                    <% if (total > limit) { %>
                      <nav aria-label="Page navigation">
                        <ul class="pagination">
                          <% for (let i = 1; i <= Math.ceil(total / limit); i++) { %>
                            <li class="page-item <%= i === page ? 'active' : '' %>">
                              <a class="page-link" href="?search=<%= search %>&page=<%= i %>&limit=<%= limit %>">
                                <%= i %>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </nav>
                    <% } %>                 
                </div>
            <!-- pagination end -->

            <% if (isLogged== true){ %>
            <!-- modal add -->
            <div class="modal fade text-black" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="addBookModalLabel">Add a book</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearAddBookForm()"></button>
                </div>
                <div class="modal-body">
                    <form id="addBookForm" action="/library/" method="POST">
                        <div class="form-group">
                            <input type="number" class="form-control d-none" id="id" name="id" value="<%#= books.length==0?'1':books[books.length-1].id+1 %>" readonly>
                        </div>
                        <div class="form-group">
                            <label for="title">Book title:</label>
                            <input type="text" class="form-control" id="title" name="title"  placeholder="Enter Book Title" required>
                        </div>
                        <div class="form-group">
                            <label for="order">Order:</label>
                            <input type="number" class="form-control" id="order" name="order" placeholder="Enter Book Order" required>
                        </div>
                        <label for="completed">Completed:</label><br>
                        <select class="w-100" id="completed" name="completed">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                        <div class="form-group">
                            <label for="author">Author:</label>
                            <input type="text" class="form-control" id="author" name="author" placeholder="Enter Author" required>
                        </div>
                        <div class="form-group">
                            <label for="linkBookImage">Image Source:</label>
                            <input type="text" class="form-control" id="linkBookImage" name="linkBookImage"  placeholder="Enter Image Source Link" required>
                        </div>
                        <div> 
                            <input type="submit" class="btn btn-success bg-gradient" value="Add">
                            <button type="button" class="btn btn-danger bg-gradient" data-bs-dismiss="modal" onclick="clearAddBookForm()">Cancel</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
            </div>
            <%}%>
      </div>
    <div style="height: 70px;"></div>
<%- include('./partials/foot.ejs')%>